---
layout: default
---
{% assign base = page.path | split: "/" | last | remove: ".md" %}
<article class="post">

  <header class="post-header">
    <img class="sticker" src="/assets/matricak/{{ base }}/{{ base }}_A.svg">
  </header>

  <h2>Üzenet</h2>
  <p>"Mennyi?"</p>
  <h2>QR kód</h2>
  <img class="small-sticker" src="/assets/matricak/{{ base }}/{{ base }}_qr.svg">
  <h2>URL</h2>
  <p>https://2m2a4.github.io{{ page.url }}</p>

  <div class="post-content">
    {{ content }}
  </div>

  <h2>Nyomtatásra előkészített anyagok</h2>

  <h2>Variációk</h2>

</article>
