---
layout: default
---

<div class="home">

  {{ content }}

  <h1 class="page-heading">Matricák</h1>

  <ul class="post-list">
    {% for post in site.matricak %}
      <li>
        {% assign base = post.path | split: "/" | last | remove: ".md" %}
        <a class="post-link" href="{{ post.url | relative_url }}">
          <img class="small-sticker" src="/assets/matricak/{{ base }}/{{ base }}_A.svg">
        </a>
        <div class="post-excerpt">{{ post.excerpt }}</div>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <div class="post-meta">{{ post.date | date: date_format }}</div>
      </li>
    {% endfor %}
  </ul>

</div>
