---
layout: default
---

<div class="home">

  <header class="post-header">
    <h1 class="post-title">Programok</h1>
  </header>

  {{ content }}

  <ul class="post-list">
    {% for post in site.programok %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <p class="post-excerpt">{{ post.excerpt | markdownify }}</p>
        <p class="post-meta">
          <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
            {% assign d = post.date %}
            {% include date.html %}
          </time>
        </p>
      </li>
    {% endfor %}
  </ul>

</div>
